* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-family: monospace;
}

body {
  background-image: url(resources/mypic.JPG);
  background-size: cover;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  padding: 0 ;
  color:#f6fafc;
}

.name-topic {
  background-color: #0b0b0b65;
  text-shadow: 4px 4px 6px #c8f10dc9;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 50px 20px;
}
section>p {
  font-size: smaller;
}

nav{
  margin: 15px;
  width: 20%;
  background-color: #333333ba;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

nav ul li:hover{
  background-color: black;
}

nav ul li {
  margin: 0 50px;
  padding: 15px;
  font-size: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
}

.introduction {
  color: aliceblue;
  width: 55%;
  display: flex;
  flex-direction: column;
}

.introduction-video {
  margin: 15px;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.678);
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.introduction-one,.introduction-two,.introduction-three {
  padding: 20px;
}

.introduction .topic {
  font-size: 50px;
}

.introduction li{
  font-size: 20px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
}

.body-two {
  background-image: url(resources/dark.jpg);
  background-size: cover;
  line-height: 1.6;
}
.container-journey {
  display: flex;
  flex-direction: row;
}

table,th,td {
  width: 80%;
  margin:80px 20px;
  padding: 20px;
  border: #f6fafc 1px solid;
  flex-direction: row;
  color: #f6fafc;
}

.body-three {
  background-image: url(resources/moon.jpg);
  background-size: cover;
  line-height: 1.6;
}
.container-future {
  display: flex;
  flex-direction: row;
}
.main-three {
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.gallery-flex {
  display: flex;
  flex-direction: row;
  align-content: center;
}
  
  div.gallery {
    width: 40%;
    margin:10px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
div.gallery img {
    width:100%;
}

div.gallery:hover {
  border: 1px solid #777;
}

.text-future {
    margin: 10px;
    padding: 50px;
    color: #f6fafc;
    font-size: 20px;
}

div.desc {
  color: #f6fafc;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}


@media screen and (max-width: 768px) {
  .name-topic {
      font-size: 25px;
  }
  nav ul li {
      margin: 0 30px;
      padding: 30px 5px;
      font-size: 15px;
  }
  body{
      background-image: url(resources/dark.jpg);
  }
  .container {
      flex-wrap: wrap;
  }
  .introduction {
      width: 70%;
  }
  .introduction-one,.introduction-two,.introduction-three {
      padding: 70px;
  }
  .introduction .topic {
      font-size: 30px;
  }
  .introduction li{
      font-size: 10px;
  }
  .introduction-video{
      margin:0;
      width: 100%;
  }
  footer {
      font-size: 15px;
  }
  .introduction li{
      font-size: 20px;
  }
  table,th,td {
    width: 80%;
   margin:40px 10px;
    padding: 10px;
    font-size:15px;
  }
  .body-three {
    background-image: url(resources/dark.jpg);
    background-size: cover;
  }
  .gallery-flex {
    display: flex;
    flex-direction: column;

  }
  div.gallery {
    width: 70%;
    margin:5px;
    padding: 20px;
  }
  .text-future {
    font-size: 15px;
  }
}


@media screen and (max-width: 360px) {
  .name-topic {
      font-size: 15px;
  }
  nav{
      margin: 0;
      width: 100%;
  }
  nav ul li {
      margin: 0 30px;
      padding: 5px;
      font-size: 10px;
  }

  .container {
      display: flex;
      flex-direction: column;
  }
 
  .introduction {
      padding: 10px;
      color: aliceblue;
      width: 100%;
  }
  
  .introduction-video {
      width: 100%;
  }
  .introduction-one,.introduction-two,.introduction-three {
      padding: 10px;
  }
  .introduction .topic {
      font-size: 20px;
  }

  .introduction li{
      font-size: 10px;
  }
  footer {
      font-size: 7px;
    }
  .container-journey {
      display: flex;
      flex-direction: column;
  }
  table,th,td {
      width: 100%;
      margin: 20px 0 20px 0px;
      padding: 5px;
      font-size:10px;
    }
   .container-future {
      display: flex;
      flex-direction: column;
  }
  div .gallery img {
      width: 100%;
      height: 150px;
      margin: 0px;
      padding: 0px;
    }
  .gallery  {
    position: relative;
   left: 50px;
  }
  .text-future {
    margin: 0px;
    font-size: 13px;
  }
}